# Домашнее задание 2 

Необходимо реализовать схему, указанную в hw_diagram.pdf

## Описание таблиц 
PeopleStatus - Описание возможных статусов людей, которые есть в университете (Студент, Преподаватель).
Faculties - Описание факультетов, которые есть в университете (KIB, IT, и т.д.).
People - Информация о людях в университете (Имя, почта, ссылка на факультет, ссылка на статус).
Classes - Описание возможных классов в университете (название (Математический анализ) и ссылка на факультет).
Semesters - Справочник семестров факультета(например, Осень2016, '2016-01-01', '2016-12-31').
ClassesSchedule - Расписание классов (ссылки на семестр, преподавателя и курс, день недели, время начала).
StudentsSchedule - Таблица, описывающая, какой студент ходит на какой курс.

In [1]:
# Не забудьте настроить соединение!
%load_ext sql
%sql sqlite:///HOMEVORKE.db

'Connected: @HOMEVORKE.db'

## Создание таблиц
Напишет ниже скрипты по созданию таблиц с учетом всех внешних ключей.

In [11]:
%%sql
PRAGMA foreign_keys=ON;
drop table if exists classesschedule;
drop table if exists studentschedule;
drop table if exists classes;
drop table if exists semesters;
drop table if exists people;
drop table if exists peoplestatus;
drop table if exists faculties;

create table classesschedule(
    id integer primary key,
    class_id integer,
    teacher_id integer,
    semester_id integer,
    week_day integer,
    time_start varchar(15),
    foreign key(class_id) references Classes(id),
    foreign key(teacher_id) references People(id),
    foreign key(semester_id) references Semesters(id)
);
create table people(
    id integer primary key,
    name varchar(30),
    email varchar(30),
    fac_id integer,
    status_id integer,
    foreign key(fac_id) references Faculties(id),
    foreign key(status_id) references PeopleStatus(id)
);
create table peoplestatus(
    id integer primary key,
    name varchar(15)
);
create table semesters(
    id integer primary key,
    shortname varchar(10),
    date_start datetime,
    date_end datetime
);
create table classes(
    id integer primary key,
    description varchar(30),
    fac_id integer,
    foreign key (fac_id) references Faculties(id)
);
create table faculties(
    id integer primary key,
    name varchar(10)
);
create table studentschedule(
    student_id integer,
    classesschedule_id integer,
    primary key(student_id,classesschedule_id)
    foreign key(student_id) references People(id),
    foreign key(classesschedule_id) references Classesschedule(id)
);

 * sqlite:///HOMEVORKE.db
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

## Добавление записей в таблицы
Приведите примеры добавления записей в каждую из таблиц

In [12]:
%%sql
insert into Faculties values(0,"KIB");
insert into Faculties values(1,"IT");
insert into Faculties values(2,"PT");
insert into Faculties values(3,"RTS");
insert into Faculties values(4,"ITHT");

 * sqlite:///HOMEVORKE.db
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [13]:
%%sql
insert into PeopleStatus values(0,"Student");
insert into PeopleStatus values(1,"Teacher");
insert into PeopleStatus values(2,"Worker");
insert into PeopleStatus values(3,"SysAdmin");

 * sqlite:///HOMEVORKE.db
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [14]:
%%sql
insert into Classes values(0,"LinearA",(select id from Faculties where name="KIB"));
insert into Classes values(1,"Math",(select id from Faculties where name="KIB"));
insert into Classes values(2,"Discrete",(select id from Faculties where name="KIB"));
insert into Classes values(3,"Physics",(select id from Faculties where name="RTS"));

 * sqlite:///HOMEVORKE.db
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]