# Домашнее задание 2 

Необходимо реализовать схему, указанную в hw_diagram.pdf

## Описание таблиц 
PeopleStatus - Описание возможных статусов людей, которые есть в университете (Студент, Преподаватель).
Faculties - Описание факультетов, которые есть в университете (KIB, IT, и т.д.).
People - Информация о людях в университете (Имя, почта, ссылка на факультет, ссылка на статус).
Classes - Описание возможных классов в университете (название (Математический анализ) и ссылка на факультет).
Semesters - Справочник семестров факультета(например, Осень2016, '2016-01-01', '2016-12-31').
ClassesSchedule - Расписание классов (ссылки на семестр, преподавателя и курс, день недели, время начала).
StudentsSchedule - Таблица, описывающая, какой студент ходит на какой курс.

In [2]:
# Не забудьте настроить соединение!
%load_ext sql
%sql sqlite:///HOMEVORKE.db

'Connected: @HOMEVORKE.db'

## Создание таблиц
Напишет ниже скрипты по созданию таблиц с учетом всех внешних ключей.

In [4]:
%%sql
PRAGMA foreign_keys=ON;
drop table if exists classesschedule;
drop table if exists studentschedule;
drop table if exists classes;
drop table if exists semesters;
drop table if exists people;
drop table if exists peoplestatus;
drop table if exists faculties;

create table classesschedule(
    id integer primary key,
    class_id integer,
    teacher_id integer,
    semester_id integer,
    week_day integer,
    time_start varchar(15),
    foreign key(class_id) references Classes(id),
    foreign key(teacher_id) references People(id),
    foreign key(semester_id) references Semesters(id)
);
create table people(
    id integer primary key,
    name varchar(30),
    email varchar(30),
    fac_id integer,
    status_id integer,
    foreign key(fac_id) references Faculties(id),
    foreign key(status_id) references PeopleStatus(id)
);
create table peoplestatus(
    id integer primary key,
    name varchar(15)
);
create table semesters(
    id integer primary key,
    shortname varchar(10),
    date_start date,
    date_end date
);
create table classes(
    id integer primary key,
    description varchar(30),
    fac_id integer,
    foreign key (fac_id) references Faculties(id)
);
create table faculties(
    id integer primary key,
    name varchar(10)
);
create table studentschedule(
    student_id integer,
    classesschedule_id integer,
    primary key(student_id,classesschedule_id)
    foreign key(student_id) references People(id),
    foreign key(classesschedule_id) references Classesschedule(id)
);

 * sqlite:///HOMEVORKE.db
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

## Добавление записей в таблицы
Приведите примеры добавления записей в каждую из таблиц

In [5]:
%%sql
insert into Faculties values(0,"KIB");
insert into Faculties values(1,"IT");
insert into Faculties values(2,"PT");
insert into Faculties values(3,"RTS");
insert into Faculties values(4,"ITHT");

 * sqlite:///HOMEVORKE.db
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [6]:
%%sql
insert into PeopleStatus values(0,"Student");
insert into PeopleStatus values(1,"Teacher");
insert into PeopleStatus values(2,"Worker");
insert into PeopleStatus values(3,"SysAdmin");

 * sqlite:///HOMEVORKE.db
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [7]:
%%sql
insert into Classes values(0,"LinearA",(select id from Faculties where name="KIB"));
insert into Classes values(1,"Math",(select id from Faculties where name="KIB"));
insert into Classes values(2,"Discrete",(select id from Faculties where name="KIB"));
insert into Classes values(3,"Physics",(select id from Faculties where name="RTS"));

 * sqlite:///HOMEVORKE.db
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [9]:
%%sql
insert into semesters values(0,"AutWin2017","2017-09-01","2017-12-29");
insert into semesters values(1,"WinSpr2018","2018-01-01","2018-06-01");
insert into semesters values(2,"third","2018-09-01","2018-12-29");
insert into semesters values(3,"fourth","2019-01-01","2019-06-01");

 * sqlite:///HOMEVORKE.db
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [12]:
%%sql
insert into People values(0,"Sergey","email1@mail.ru",
                          (select id from Faculties where name="KIB"),
                          (select id from PeopleStatus where name="Student"));
insert into People values(2,"Lyonya","email2@mail.ru",
                          (select id from Faculties where name="KIB"),
                          (select id from PeopleStatus where name="Student"));
insert into People values(3,"Anton","email3@mail.ru",
                          (select id from Faculties where name="KIB"),
                          (select id from PeopleStatus where name="Student"));
insert into People values(4,"Vlad","email4@mail.ru",
                          (select id from Faculties where name="KIB"),
                          (select id from PeopleStatus where name="Student"));
insert into People values(5,"Max","email5@mail.ru",
                          (select id from Faculties where name="KIB"),
                          (select id from PeopleStatus where name="Student"));
insert into People values(6,"Prokhorov","email5@mail.ru",
                          (select id from Faculties where name="KIB"),
                          (select id from PeopleStatus where name="Teacher"));
insert into People values(7,"Golovin","email5@mail.ru",
                          (select id from Faculties where name="KIB"),
                          (select id from PeopleStatus where name="Teacher"));

 * sqlite:///HOMEVORKE.db
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [16]:
%%sql

 * sqlite:///HOMEVORKE.db
Done.

[(0, 'Sergey', 'email1@mail.ru', 0, 0),
 (2, 'Lyonya', 'email2@mail.ru', 0, 0),
 (3, 'Anton', 'email3@mail.ru', 0, 0),
 (4, 'Vlad', 'email4@mail.ru', 0, 0),
 (5, 'Max', 'email5@mail.ru', 0, 0),
 (6, 'Prokhorov', 'email5@mail.ru', 0, 1),
 (7, 'Golovin', 'email5@mail.ru', 0, 1)]

In [23]:
%%sql
insert into classesschedule values(1,(select id from Classes where description="LinearA"),
                            (select id from People where name="Golovin"),
                            (select id from semesters where shortname = "second"),
                            4,
                            "11:30");
insert into classesschedule values(2,(select id from Classes where description="LinearA"),
                            (select id from People where name="Golovin"),
                            (select id from semesters where shortname = "third"),
                            4,
                            "13:00")

 * sqlite:///HOMEVORKE.db
1 rows affected.
1 rows affected.

[]

In [24]:
%%sql
select * from classesschedule

 * sqlite:///HOMEVORKE.db
Done.

[(0, 0, 7, 0, 4, '9:00'), (1, 0, 7, 1, 4, '11:30'), (2, 0, 7, 2, 4, '13:00')]

In [32]:
%%sql
insert into studentschedule values((select id from People where name = "Lyonya"),
                            (select id from classesschedule where class_id = 0 and semester_id = 0)
                           )

 * sqlite:///HOMEVORKE.db
1 rows affected.

[]

In [33]:
%%sql
select * from studentschedule

 * sqlite:///HOMEVORKE.db
Done.

[(None, 0), (2, 0)]